;;; $Id: local.tf.sample,v 32101.0 1993/12/20 07:12:39 hawkeye Stab $

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;; TF 3.0 local library
;;; This file is not required, but contains some examples of commands
;;; you might want to use in your version of %TFLIBDIR/local.tf.  Other
;;; commands can be added here as well.
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

/~loaded local.tf

;;; HELPFILE is defined in the Build file during installation.  If you
;;; want to move the helpfile without re-installing, uncomment and edit
;;; the line below.

; /def -i HELPFILE=/usr/local/lib/tf.lib/help

;;; Mail location
;; If your system keeps incoming mail in the recipient's home, instead of
;; in a central spool directory, uncomment the 4 lines below (and edit the
;; third line if needed).

; /eval \
;     /if /test MAIL !~ ""%; /then \
;         /set MAIL=%{HOME}/.mailbox %;\
;     /endif

;;; file compression
;; COMPRESS_READ should contain a command that take a filename as an
;; argument, and prints its output on stdout.  The library is configured
;; to use '.Z' and 'zcat'.  To use a different program, uncomment the pair
;; used on your system, or add your own.

; GNU compression
; /def -i COMPRESS_SUFFIX=.gz
; /def -i COMPRESS_READ=zcat

; SysV compression
; /def -i COMPRESS_SUFFIX=.z
; /def -i COMPRESS_READ=pcat

